{% extends "layouts/base.html.twig" %}

{% block title 'Ajouter une adresse | ' ~ parent() %}

{% block content %}
    <h3>Ajouter une adresse</h3>
    <div class="float-right mt-2 mr-2">
        <a href="{{path('account')}}" class="btn btn-secondary" title="mon compte">
            <i class="fas fa-long-arrow-alt-left"></i> Mon compte
        </a>
    </div>
    <div class="jumbotron">
        {{ form(form)}}
    </div>
{% endblock %}
