{% extends "layouts/base.html.twig" %}

{% block title 'Ajouter une adresse | ' ~ parent() %}

{% block content %}
    <div class="float-right mt-2 mr-2">
        <a href="{{path('account_addresses')}}" class="btn btn-secondary" title="mes adresses">
            <i class="fas fa-long-arrow-alt-left"></i> Mes adresses
        </a>
    </div>
    <div class="jumbotron">
        <h3 class="display-6 text-center">Ajouter une adresse</h3>
        <br>
        {{ include ('account/_formAddress.html.twig', {button: ' Ajouter'}) }}
    </div>
{% endblock %}
