{% extends "layouts/base.html.twig" %}

{% block title 'Modifier le mot de passe | ' ~ parent() %}

{% block content %}
    <div class="float-right mt-2 mr-2">
        <a href="{{path('account')}}" class="btn btn-secondary" title="mon compte">
            <i class="fas fa-long-arrow-alt-left text-white"></i> Mon compte
        </a>
    </div>
    <div class="jumbotron">
        <h3 class="display-6 text-center">
            <i class="user-color fas fa-key user-color"></i>
             Modifier le mot de passe
        </h3>
        <br>
        {{ form(form) }}
    </div>
{% endblock %}