{% extends "layouts/base.html.twig" %}

{% block title 'Modifier le mot de passe | ' ~ parent() %}

{% block content %}
    <div class="jumbotron">
        <div class="d-flex justify-content-between">
            <h1>Modifier le mot de passe</h1>
            <div>
                <a href="{{path('account')}}" class="btn btn-secondary" title="mon compte">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>
        </div>
        <hr>
            {{ form(form) }}
        <hr>
    </div>
{% endblock %}