{% extends "layouts/base.html.twig" %}

{% block title 'Mon Compte | La Boutique' %}

{% block content %}
    <h1 class="text-center mt-5 text-secondary">Mon Compte</h1>
    <br>
    <p>Bienvenue <span class="text-success">{{app.user.firstname}}</span> ,<br><br> Cette page est dédiée à la gestion de votre compte.</p>

    <a href="{{path('account_password')}}" class="btn btn-block btn-secondary my-3">Modifier mon mot de passe</a>
    
{% endblock %}
