{% extends "layouts/base.html.twig" %}

{% block title 'Modifier Mon Mot De Passe | La Boutique' %}

{% block content %}
    <h1 class="text-center my-3 mt-5">Modifier Mon Mot De Passe</h1>
    <br>
    <a href="{{path('account')}}" class="btn btn-block btn-secondary my-3">Retour vers Mon Compte</a>

    {{form(form)}}
    
    <hr>

{% endblock %}