{% extends "layouts/base.html.twig" %}

{% block title 'Accueil | ' ~ parent() %}

{% block content %}

{% block caroussel %}{% endblock %}

<div class="jumbotron">
  <h1 class="display-3 d-flex justify-content-center">Bienvenue</h1>
  <p class="lead d-flex justify-content-center">Sur le site de eCommerce préféré des français</p>
  <hr class="my-4">
  <p class="lead d-flex justify-content-center">
    <a class="btn btn-secondary btn-lg align-center" href="{{path('products')}}" role="button">Visiter la boutique</a>
  </p>
</div>

{% endblock %}
