<!DOCTYPE html>
<html>
    {% include "layouts/head.html.twig" %}
    <body>
        {% include "layouts/header.html.twig" %}
        {% include "layouts/partials/_flash_messages.html.twig" %}
        {% include "layouts/carousel.html.twig" %}        
        <main role="main" class="container-fluid">
            {% block body %}    
                <div class="container marketing">
                    {% block content %}
                    {% endblock %}
                </div>
            {% endblock %}
            {% include "layouts/footer.html.twig" %}
        </main>
    </body>
</html>
