<!DOCTYPE html>
<html>
    {% include "layouts/head.html.twig" %}
    <body>
        {% include "layouts/header.html.twig" %}
        {% include "layouts/partials/_flash_messages.html.twig" %}
        {% if block('carousel') is defined %}
            {% include "layouts/carousel.html.twig" %}        
        {% endif %}
        <main role="main">
            {% block body %}   
                <br><br>
                <div class="container marketing">
                    {% block content %}
                    {% endblock %}
                </div>
            {% endblock %}
        </main>
        {% include "layouts/footer.html.twig" %}
    </body>
</html>
