    <hr>
    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom">
        <p>
            &copy; {{ "now"|date("Y") }} | eCommerce <br/>
            &middot; <a href="#">Contact</a> &middot; 
            <a href="#">Terms</a>
         </p>
    </footer>
</main>