    <hr>
    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom user-color">
        <p>
            &copy; {{ "now"|date("Y") }} | eCommerCe <br/>
            &middot; <a href="#" class="user-color">Contact</a> &middot; 
            <a href="#" class="user-color">Terms</a>
         </p>
    </footer>
</main>