    <hr>
    <div class="horizontal-space-1"></div>
    </div><!-- /.container -->
    <!-- FOOTER -->
    <footer class="footer-custom user-color">
        <div class="vertical-space-1"></div>
        <div class="container">
            &copy; {{ "now"|date("Y") }} | eCommerCe <br/>
            &middot; <a href="#" class="user-color">Contact</a> &middot; 
            <a href="#" class="user-color">Terms</a>
        </div>
    </footer>