/**header**/
.navbar-item-custom, .navbar-item-custom a{
    color: #fff;
}

.navbar-connection {
    display: flex;
}

.user-color {
    color: rgb(172, 172, 161);
    font-weight: bold;
    text-decoration: none;
}

.customized-name {
    color:#5A5A5A;
    font-style:italic ;
}


/**body**/
body, html {
    margin: 0;
    padding: 0;
    position: relative;
}

main{
    padding: 0;
    margin-bottom: 0.2vw;
}

/**products**/
.illustration {
    min-height: 22vw;
    max-height: 22vw;
    min-width: 20vw;
    max-width: 20vw;
}

.illustration-min {
    min-height: 5vw;
    max-height: 5vw;
    min-width: 4vw;
    max-width: 4vw;
}

.vignettes {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.vignette {
    padding: 0;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    width: auto;
    /* box-shadow: 5px 5px 2px 0.5px rgba(238, 240, 233, 0.877); */
    min-height: 28vw;
    max-height: 28vw;
    min-width: 21vw;
    max-width: 21vw;
}

.under-vignette {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.product-price {
    font-size: smaller;
    font-style: italic;
    text-align: center;
    color: rgb(172, 172, 161);

}
/**form**/
.login-form {
    max-width: 600px;
    margin: 0 auto;
}

.placeholder-custmomized {
    color:grey;
    opacity: 0.33;
}

/**footer**/
.footer-custom {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

/**specials**/
a:link {
    text-decoration: none;
}

.horizontal-space-1 {
    width: 1vw;
}

.horizontal-space-2 {
    width: 2vw;
}

.horizontal-space-3 {
    width: 3vw;
}

.vertical-space-1 {
    height: 1vw;
}

.vertical-space-2 {
    height: 2vw;
}

.vertical-space-3 {
    height: 3vw;
}