html{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}

.footer-custumized {
    text-align: center;
    bottom: 0;
    width: 100%;
    min-height: 5vw;
    max-height: 5vw;
    position: fixed;
    background-color: #E9ECEF;
    padding-top: 25px;
}