{% extends "layouts/base.html.twig" %}

{% block title 'Inscription | La Boutique' %}

{% block content %}

    <h1 class="text-center my-3 text-secondary">Inscription</h1>
    <br>
    {{ form(form)}}

{% endblock %}
