{% extends "layouts/base.html.twig" %}

{% block title 'Inscription | ' ~ parent() %}

{% block content %}
    <div class="jumbotron">
        <h3 class="display-6 text-center">Inscription</h3>
        <div class="login-form">
            {{ form(form)}}
        </div>
    </div>

{% endblock %}
