{% extends "layouts/base.html.twig" %}

{% block title 'Inscription | ' ~ parent() %}

{% block content %}
    
    <h1 class="text-center">Inscription</h1>
        
        {{ form(form)}}

{% endblock %}
