{% extends "layouts/base.html.twig" %}

{% block title 'Valider ma commande | ' ~ parent() %}

{% block content %}
    <div class="float-right mt-2 mr-2">
        <a href="{{path('cart')}}" class="btn btn-secondary" title="mon compte">
            <i class="fas fa-long-arrow-alt-left"></i> Mon panier
        </a>
    </div>
    <div class="jumbotron">
        <h3 class="display-6 text-center">Ma commande</h3>
        <br>
        <div class="row">
            <div class="col-md-6">
                <b>Mon adresse de livraison</b>
                <b>Mon transporteur</b>
            </div>
            <div class="col-md-6">
                <b>Récapitulatif de ma commande</b>
                <a href="" class="btn btn-primary">Payer</a>
            </div>
        </div>
    </div>
{% endblock %}
